![Edgar Codd](./images/Edgar_F_Codd.jpg)

![Ramez Elmasri](./images/Elmasri.jpg)

## [Fundamentals of Database Systems](https://www.amazon.com/Fundamentals-Database-Systems-Ramez-Elmasri/dp/0133970779)

# [Murach's MySQL (3rd Edition)](https://www.amazon.com/Murachs-MySQL-3rd-Joel-Murach/dp/1943872368/ref=sr_1_5?crid=2WVNPKJJ9KZOZ&keywords=mysql&qid=1654134519&sprefix=mysql%2Caps%2C72&sr=8-5&asin=1943872368&revisionId=&format=4&depth=1)

# Modeling and Designing Databases

## An Amateur Approach

+------------+---------+-----------------------+------+
| GivenNames | Surname | CourseName            | Pctg |
+------------+---------+-----------------------+------+
| John Paul  | Bloggs  | Data Science          |   72 |
| Sarah      | Doe     | Programming 1         |   87 |
| John Paul  | Bloggs  | Computing Mathematics |   43 |
| John Paul  | Bloggs  | Computing Mathematics |   65 |
| Sarah      | Doe     | Data Science          |   65 |
| Susan      | Smith   | Computing Mathematics |   75 |
| Susan      | Smith   | Programming 1         |   55 |
| Susan      | Smith   | Computing Mathematics |   80 |
+------------+---------+-----------------------+------+

which Susan is which?

+------------+------------+---------+-----------------------+------+
| StudentID  | GivenNames | Surname | CourseName            | Pctg |
+------------+------------+---------+-----------------------+------+
| 12345678   | John Paul  | Bloggs  | Data Science          |   72 |
| 12345121   | Sarah      | Doe     | Programming 1         |   87 |
| 12345678   | John Paul  | Bloggs  | Computing Mathematics |   43 |
| 12345678   | John Paul  | Bloggs  | Computing Mathematics |   65 |
| 12345121   | Sarah      | Doe     | Data Science          |   65 |
| 12345876   | Susan      | Smith   | Computing Mathematics |   75 |
| 12345876   | Susan      | Smith   | Programming 1         |   55 |
| 12345303   | Susan      | Smith   | Computing Mathematics |   80 |
+------------+------------+---------+-----------------------+------+

did John Paul pass or fail?

+------------+------------+---------+-----------------------+------+-----+------+
| StudentID  | GivenNames | Surname | CourseName            | Year | Sem | Pctg |
+------------+------------+---------+-----------------------+------+-----+------+
| 12345678   | John Paul  | Bloggs  | Data Science          | 2019 |   2 |   72 |
| 12345121   | Sarah      | Doe     | Programming 1         | 2020 |   1 |   87 |
| 12345678   | John Paul  | Bloggs  | Computing Mathematics | 2019 |   2 |   43 |
| 12345678   | John Paul  | Bloggs  | Computing Mathematics | 2020 |   1 |   65 |
| 12345121   | Sarah      | Doe     | Data Science          | 2020 |   1 |   65 |
| 12345876   | Susan      | Smith   | Computing Mathematics | 2019 |   1 |   75 |
| 12345876   | Susan      | Smith   | Programming 1         | 2019 |   2 |   55 |
| 12345303   | Susan      | Smith   | Computing Mathematics | 2020 |   1 |   80 |
+------------+------------+---------+-----------------------+------+-----+------+

can I infer one column from another?

Student_Details
+------------+------------+---------+
| StudentID  | GivenNames | Surname |
+------------+------------+---------+
| 12345121   | Sarah      | Doe     |
| 12345303   | Susan      | Smith   |
| 12345678   | John Paul  | Bloggs  |
| 12345876   | Susan      | Smith   |
+------------+------------+---------+

Student_Details
+------------+-----------------------+------+-----+------+
| StudentID  | CourseName            | Year | Sem | Pctg |
+------------+-----------------------+------+-----+------+
| 12345678   | Data Science          | 2019 |   2 |   72 |
| 12345121   | Programming 1         | 2020 |   1 |   87 |
| 12345678   | Computing Mathematics | 2019 |   2 |   43 |
| 12345678   | Computing Mathematics | 2020 |   1 |   65 |
| 12345121   | Data Science          | 2020 |   1 |   65 |
| 12345876   | Computing Mathematics | 2019 |   1 |   75 |
| 12345876   | Programming 1         | 2019 |   2 |   55 |
| 12345303   | Computing Mathematics | 2020 |   1 |   80 |
+------------+-----------------------+------+-----+------+

should we keep information on a studentâ€™s enrollment date, postal and email addresses, fees, or attendance? Should we store different types of postal addresses?

## The Database Design Process

- **_Requirements analysis_**
- **_Conceptual design_**
- **_Logical design_**

## The Entity Relationship Model

At a basic level, databases store information about distinct objects, or entities, and the associations, or relationships, between these entities
A popular approach to conceptual design uses the Entity Relationship (ER) model

### Representing Entities

Entities - Attributes - Keys - Relations

## Representing Relationships

## Partial and Total Participation

# Database Normalization

**The first normal form (1NF) has the following goals**  
- Eliminate repeating groups in individual tables.
- Create a separate table for each set of related data.
- Identify each set of related data with a primary key.

**The goals of second normal form (2NF) are** 
- Create separate tables for sets of values that apply to multiple records.
- Relate these tables with a foreign key.

**Third normal form (3NF) adds one more goal**
- Eliminate fields that do not depend on the key.

Denormalized
Student#   Advisor   Adv-Room   Class1   Class2   Class3
1022       Jones     412        101-07   143-01   159-02
4123       Smith     216        201-01   211-02   214-01

1NF
Student#   Advisor   Adv-Room   Class#
1022       Jones     412        101-07
1022       Jones     412        143-01
1022       Jones     412        159-02
4123       Smith     216        201-01
4123       Smith     216        211-02
4123       Smith     216        214-01

2NF
Students
---
Student#    Advisor   Adv-Room
1022        Jones     412
4123        Smith     216

Registration
---
Student#  Class#
1022      101-07
1022      143-01
1022      159-02
4123      201-01
4123      211-02
4123      214-01

3NF
Students
---
Student#  Advisor
1022      Jones
4123      Smith

Faculty
---
Name  Room  Dept
Jones 412 42
Smith 216 42

Registration
---
Student#  Class#
1022      101-07
1022      143-01
1022      159-02
4123      201-01
4123      211-02
4123      214-01

# Entity Relationship Modeling Examples

![alt text](./images/5.png)

**[MySQL Workbench](https://dev.mysql.com/downloads/workbench/)**

**Sakila Sample Database**  
**World Sample Database**  
[Other MySQL Documentation](https://dev.mysql.com/doc/index-other.html)

### Using the Entity Relationship Model